<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie notatki</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 th:text="|Tworzenie notatki|"></h1>
    <hr>
    <form action="#" th:action="@{/informations/}" method="post">
        <div class="form-group">
            <label for="noteName" th:text="|Nazwa notatki:|"></label>
            <input type="text" class="form-control" id="noteName" name="noteName" placeholder="Wpisz nazwę notatki">
        </div>
        <div class="form-group">
            <label for="categoryName" th:text="|Kategoria notatki:|"></label>
            <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Wpisz nazwę kategorii">
        </div>
        <div class="form-group">
            <label for="descriptionNote" th:text="|Opis notatki:|"></label>
            <textarea class="form-control" id="descriptionNote" name="descriptionNote" rows="4" cols="50" placeholder="Wpisz opis notatki"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" th:text="|Utwórz notatkę|"></button>
    </form>
</div>

</body>
</html>
