<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 th:text="|Informations in the database|"></h1>
    <hr>
    <form method="get" action="#" th:action="@{/informations/}">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="filterByDateInput">Filter by date:</label>
                <input type="date" id="filterByDateInput" name="filterByDate" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="categorySelect">Filter by category:</label>
                <select id="categorySelect" name="categoryName" class="form-control">
                    <option value="">All</option>
                    <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="sortBySelect">Sort by:</label>
                <select id="sortBySelect" name="sortBy" class="form-control">
                    <option value="name">Name</option>
                    <option value="creationTime">Creation Time</option>
                    <option value="category">Category</option>
                    <option value="categoryOccurrences">Category Occurrences</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="sortDirectionSelect">Sort direction:</label>
            <select id="sortDirectionSelect" name="sortDirection" class="form-control">
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter and Sort</button>
    </form>
    <hr>
    <ol class="list-group">
        <li th:each="information : ${informations}" class="list-group-item">
            <h5 class="card-title" th:text="|Name: ${information.name} |"></h5>
            <p class="card-text">
                <span th:text="|Date: ${information.creationTime} |"></span>
                <br>
                <span th:text="|Category: ${information.category} |"></span>
                <br>
                <span th:text="|Description: ${information.description} |"></span>
                <br>
                <a th:href="@{edit/{id}(id=${information.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{delete/{id}(id=${information.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this information?')">Delete</a>
            </p>
        </li>
    </ol>
</div>
</body>
</html>
