<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>User Login</h1>
  <hr>
  <form method="post" th:action="@{login}" th:object="${user}">
    <div class="form-group">
      <label for="loginInput">Login:</label>
      <input type="text" id="loginInput" name="login" class="form-control" th:field="*{login}">
      <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="alert alert-danger"></div>
    </div>
    <div class="form-group">
      <label for="passwordInput">Password:</label>
      <input type="password" id="passwordInput" name="password" class="form-control" th:field="*{password}">
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></div>
    </div>
    <div th:if="${noUser}" class="alert alert-danger" role="alert">
      <span th:text="${noUser}"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
</body>
</html>
